<footer
    class="flex items-center justify-center gap-6 sticky bottom-0 z-30 h-12"
>
    <a
        href="https://github.com/OZNSN/coin-fountain"
        target="_blank"
        class="underline font-semibold hover:opacity-80 duration-75"
    >
        GitHub
    </a>
    <p>|</p>
    <a
        href="https://twitter.com/CoinFountainApp"
        target="_blank"
        class="underline font-semibold hover:opacity-80 duration-75"
    >
        Twitter</a
    >
</footer>
