---
import ThrowCoinButton from "./ThrowButton.astro";
---

<main
    class="flex flex-col px-4 max-w-md mx-auto gap-28 pt-[calc(40vh-4rem)] flex-1"
>
    <div class="flex flex-col gap-6 items-center">
        <h1 class="font-semibold text-5xl text-center">Coin Fountain</h1>
        <div class="flex flex-col gap-1.5 w-full max-w-xs">
            <ThrowCoinButton />
            <p class="text-neutral-600 text-xs text-center">
                You can throw a coin to make a new transaction.
                <br />
                 Don't worry, we don't charge any fees ;)
            </p>
        </div>
    </div>
</main>
