---
import coinFountain from "coin-fountain.json";

const arbitrumOne = coinFountain.chains[0];
---

<button
    id="button-throw"
    disabled
    style={{ background: `${arbitrumOne?.color}` }}
    class="h-10 px-5 text-white rounded-full duration-75 hover:opacity-80 disabled:hover:cursor-not-allowed shadow-md"
>
    Throw
</button>
